#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  color: rgb(9, 127, 62);
  background-color: #20ba20;
  grid-auto-rows: 1fr;
}

.episode {
  border: 10px solid #032203;
  padding: 30px;
  background-color: rgb(244, 241, 219);
}

.episode h2 {
  padding: 5px;
  font-size: 33px;
  color: hwb(120 2% 71%);
  font-weight: bold;
  text-align: center;
}

.episode img {
  width: 100%;
  display: block;
  padding: 1px;
}

.episode p {
  padding: 5px;
  font-size: 25px;
  color: hwb(149 5% 79%);
  font-weight: bold;
}
